In [1]:
# Importing required packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

In [2]:
# Reading the 'Earthquake_SouthAsianData2000to2020.csv' data
# Store the result in a variable called earth_quake_data

earth_quake_data = pd.read_csv('Earthquake_SouthAsianData2000to2020.csv')
earth_quake_data.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2000-0023-BGD,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,USGS:usp0009khm,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":5772,""adm2_name"":""Cox's Bazar""}]",2011-04-07,2023-09-25
1,2000-0051-IRN,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,USGS:usp0009mz6,NaN,IRN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":40901,""adm2_name"":""Bardeskan""},{...",2014-03-07,2023-09-25
2,2000-0065-IRN,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,USGS:usp0009ne8,NaN,IRN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":40992,""adm2_name"":""Kashmar""}]",2003-07-01,2023-09-25
3,2001-0033-IND,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,USGS:usp000a8ds,NaN,IND,...,NaN,NaN,100000.0,172083.0,2623000.0,4513739.0,58.111474,"[{""adm2_code"":17635,""adm2_name"":""Ahmadabad""},{...",2014-04-04,2023-09-25
4,2001-0033-PAK,No,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,USGS:usp000a8ds,NaN,PAK,...,NaN,NaN,NaN,NaN,500.0,860.0,58.111474,"[{""adm2_code"":23681,""adm2_name"":""Badin Distric...",2014-04-04,2023-09-25

In [3]:
# Get the Column names of the earth_quake_data

earth_quake_data.columns.values

array(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion',
       'Region', 'Location', 'Origin', 'Associated Types',
       'OFDA/BHA Response', 'Appeal', 'Declaration',
       "AID Contribution ('000 US$)", 'Magnitude', 'Magnitude Scale',
       'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', "Reconstruction Costs ('000 US$)",
       "Reconstruction Costs, Adjusted ('000 US$)",
       "Insured Damage ('000 US$)", "Insured Damage, Adjusted ('000 US$)",
       "Total Damage ('000 US$)", "Total Damage, Adjusted ('000 US$)",
       'CPI', 'Admin Units', 'Entry Date', 'Last Update'], dtype=object)

In [6]:
# Get the shape of the earth_quake_data

print('Number of Rows/Recirds in the data frame is:',earth_quake_data.shape[0])
print('Number of Columns/Attributes in the data frame is:',earth_quake_data.shape[1])

Number of Rows/Recirds in the data frame is: 100
Number of Columns/Attributes in the data frame is: 46

In [5]:
# Get the column types of the earth_quake_data

earth_quake_data.dtypes

DisNo.                                        object
Historic                                      object
Classification Key                            object
Disaster Group                                object
Disaster Subgroup                             object
Disaster Type                                 object
Disaster Subtype                              object
External IDs                                  object
Event Name                                   float64
ISO                                           object
Country                                       object
Subregion                                     object
Region                                        object
Location                                      object
Origin                                        object
Associated Types                              object
OFDA/BHA Response                             object
Appeal                                        object
Declaration                                   object
AID Contribution ('000 US$)                  float64
Magnitude                                    float64
Magnitude Scale                               object
Latitude                                     float64
Longitude                                    float64
River Basin                                   object
Start Year                                     int64
Start Month                                    int64
Start Day                                      int64
End Year                                       int64
End Month                                      int64
End Day                                        int64
Total Deaths                                 float64
No. Injured                                  float64
No. Affected                                 float64
No. Homeless                                 float64
Total Affected                               float64
Reconstruction Costs ('000 US$)              float64
Reconstruction Costs, Adjusted ('000 US$)    float64
Insured Damage ('000 US$)                    float64
Insured Damage, Adjusted ('000 US$)          float64
Total Damage ('000 US$)                      float64
Total Damage, Adjusted ('000 US$)            float64
CPI                                          float64
Admin Units                                   object
Entry Date                                    object
Last Update                                   object
dtype: object

In [7]:
# Reading the 'Drought_SouthAsianData2000to2020.csv' data
# Store the result in a variable called drought_data

drought_data = pd.read_csv('Drought_SouthAsianData2000to2020.csv')
drought_data.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2000-9186-AFG,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,AFG,...,NaN,NaN,NaN,NaN,50.0,88.0,56.514291,"[{""adm1_code"":272,""adm1_name"":""Badakhshan""},{""...",2008-01-03,2023-09-25
1,2000-9222-IND,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,588000.0,1040445.0,56.514291,"[{""adm1_code"":1485,""adm1_name"":""Andhra Pradesh...",2008-01-03,2023-09-25
2,2001-9498-LKA,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,LKA,...,NaN,NaN,NaN,NaN,NaN,NaN,58.111474,"[{""adm2_code"":25832,""adm2_name"":""Ampara""},{""ad...",2008-01-03,2023-09-25
3,2002-9349-IND,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,910722.0,1542730.0,59.033144,"[{""adm1_code"":1485,""adm1_name"":""Andhra Pradesh...",2008-01-03,2023-09-25
4,2006-9570-AFG,No,nat-cli-dro-dro,Natural,Climatological,Drought,Drought,NaN,NaN,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,66.160331,"[{""adm1_code"":272,""adm1_name"":""Badakhshan""},{""...",2006-12-19,2023-09-25

In [9]:
# Get the shape of the drought_data

print('Number of Rows/Records are:', drought_data.shape[0])
print('Number of Columns/Attributes are:', drought_data.shape[1])

Number of Rows/Records are: 19
Number of Columns/Attributes are: 46

In [11]:
# Get the Names of the Columns of the data frame drought_data

drought_data.columns.values

array(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion',
       'Region', 'Location', 'Origin', 'Associated Types',
       'OFDA/BHA Response', 'Appeal', 'Declaration',
       "AID Contribution ('000 US$)", 'Magnitude', 'Magnitude Scale',
       'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', "Reconstruction Costs ('000 US$)",
       "Reconstruction Costs, Adjusted ('000 US$)",
       "Insured Damage ('000 US$)", "Insured Damage, Adjusted ('000 US$)",
       "Total Damage ('000 US$)", "Total Damage, Adjusted ('000 US$)",
       'CPI', 'Admin Units', 'Entry Date', 'Last Update'], dtype=object)

In [12]:
# Get the column types of the drought_data data frame

drought_data.dtypes

DisNo.                                        object
Historic                                      object
Classification Key                            object
Disaster Group                                object
Disaster Subgroup                             object
Disaster Type                                 object
Disaster Subtype                              object
External IDs                                  object
Event Name                                   float64
ISO                                           object
Country                                       object
Subregion                                     object
Region                                        object
Location                                      object
Origin                                        object
Associated Types                              object
OFDA/BHA Response                             object
Appeal                                        object
Declaration                                   object
AID Contribution ('000 US$)                  float64
Magnitude                                    float64
Magnitude Scale                               object
Latitude                                     float64
Longitude                                    float64
River Basin                                  float64
Start Year                                     int64
Start Month                                  float64
Start Day                                    float64
End Year                                       int64
End Month                                    float64
End Day                                      float64
Total Deaths                                 float64
No. Injured                                  float64
No. Affected                                 float64
No. Homeless                                 float64
Total Affected                               float64
Reconstruction Costs ('000 US$)              float64
Reconstruction Costs, Adjusted ('000 US$)    float64
Insured Damage ('000 US$)                    float64
Insured Damage, Adjusted ('000 US$)          float64
Total Damage ('000 US$)                      float64
Total Damage, Adjusted ('000 US$)            float64
CPI                                          float64
Admin Units                                   object
Entry Date                                    object
Last Update                                   object
dtype: object

In [13]:
# Reading the 'Flood_SouthAsianData2000to2020.csv' data
# Store the result in a variable called flood_data

flood_data = pd.read_csv('Flood_SouthAsianData2000to2020.csv')
flood_data.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2000-0332-IND,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":17582,""adm2_name"":""Golaghat""},{""...",2005-09-15,2023-09-25
1,2000-0373-BGD,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":5770,""adm2_name"":""Chittagong""},{...",2004-10-25,2023-09-25
2,2000-0444-IND,No,nat-hyd-flo-fla,Natural,Hydrological,Flood,Flash flood,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":70041,""adm2_name"":""Administrativ...",2003-07-01,2023-09-25
3,2000-0445-IND,No,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,43000.0,76087.0,56.514291,"[{""adm1_code"":1485,""adm1_name"":""Andhra Pradesh...",2008-01-03,2023-09-25
4,2000-0476-NPL,No,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,NPL,...,NaN,NaN,NaN,NaN,6300.0,11148.0,56.514291,"[{""adm2_code"":22351,""adm2_name"":""Bagmati""},{""a...",2007-04-17,2023-09-25

In [14]:
# Get the shape of the flood_data data frame

print('The number of Records/Rows are:', flood_data.shape[0])
print('The number of Column/Attrubutes are:', flood_data.shape[1])

The number of Records/Rows are: 477
The number of Column/Attrubutes are: 46

In [15]:
# Get the column names of the data frame flood_data

flood_data.columns.values

array(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion',
       'Region', 'Location', 'Origin', 'Associated Types',
       'OFDA/BHA Response', 'Appeal', 'Declaration',
       "AID Contribution ('000 US$)", 'Magnitude', 'Magnitude Scale',
       'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', "Reconstruction Costs ('000 US$)",
       "Reconstruction Costs, Adjusted ('000 US$)",
       "Insured Damage ('000 US$)", "Insured Damage, Adjusted ('000 US$)",
       "Total Damage ('000 US$)", "Total Damage, Adjusted ('000 US$)",
       'CPI', 'Admin Units', 'Entry Date', 'Last Update'], dtype=object)

In [16]:
# Get the column types of the flood_data data frame

flood_data.dtypes

DisNo.                                        object
Historic                                      object
Classification Key                            object
Disaster Group                                object
Disaster Subgroup                             object
Disaster Type                                 object
Disaster Subtype                              object
External IDs                                  object
Event Name                                   float64
ISO                                           object
Country                                       object
Subregion                                     object
Region                                        object
Location                                      object
Origin                                        object
Associated Types                              object
OFDA/BHA Response                             object
Appeal                                        object
Declaration                                   object
AID Contribution ('000 US$)                  float64
Magnitude                                    float64
Magnitude Scale                               object
Latitude                                     float64
Longitude                                    float64
River Basin                                   object
Start Year                                     int64
Start Month                                    int64
Start Day                                    float64
End Year                                       int64
End Month                                      int64
End Day                                      float64
Total Deaths                                 float64
No. Injured                                  float64
No. Affected                                 float64
No. Homeless                                 float64
Total Affected                               float64
Reconstruction Costs ('000 US$)              float64
Reconstruction Costs, Adjusted ('000 US$)    float64
Insured Damage ('000 US$)                    float64
Insured Damage, Adjusted ('000 US$)          float64
Total Damage ('000 US$)                      float64
Total Damage, Adjusted ('000 US$)            float64
CPI                                          float64
Admin Units                                   object
Entry Date                                    object
Last Update                                   object
dtype: object

In [17]:
# Reading the 'Storm_SouthAsianData2000to2020.csv' data
# Store the result in a variable called storm_data

storm_data = pd.read_csv('Storm_SouthAsianData2000to2020.csv')
storm_data.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2000-0009-IRN,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),NaN,NaN,IRN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":1545,""adm1_name"":""Gilan""}]",2003-07-01,2023-09-25
1,2000-0146-BGD,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":5812,""adm2_name"":""Natore""}]",2005-04-24,2023-09-25
2,2000-0211-BGD,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":5790,""adm2_name"":""Netrakona""},{""...",2005-04-24,2023-09-25
3,2000-0229-BGD,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":5790,""adm2_name"":""Netrakona""},{""...",2003-07-01,2023-09-25
4,2000-0283-BGD,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":5769,""adm2_name"":""Chandpur""},{""a...",2004-10-25,2023-09-25

In [18]:
# Get the shape of the storm_data data frame

print('Number of Rows/Records in the data frame is:', storm_data.shape[0])
print('Number of Columns/Attributes in the data frame is:', storm_data.shape[1])

Number of Rows/Records in the data frame is: 185
Number of Columns/Attributes in the data frame is: 46

In [19]:
# Get the column names of the data frame storm_data

storm_data.columns.values

array(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion',
       'Region', 'Location', 'Origin', 'Associated Types',
       'OFDA/BHA Response', 'Appeal', 'Declaration',
       "AID Contribution ('000 US$)", 'Magnitude', 'Magnitude Scale',
       'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', "Reconstruction Costs ('000 US$)",
       "Reconstruction Costs, Adjusted ('000 US$)",
       "Insured Damage ('000 US$)", "Insured Damage, Adjusted ('000 US$)",
       "Total Damage ('000 US$)", "Total Damage, Adjusted ('000 US$)",
       'CPI', 'Admin Units', 'Entry Date', 'Last Update'], dtype=object)

In [20]:
# Get the column types of the data frame storm_data

storm_data.dtypes

DisNo.                                        object
Historic                                      object
Classification Key                            object
Disaster Group                                object
Disaster Subgroup                             object
Disaster Type                                 object
Disaster Subtype                              object
External IDs                                  object
Event Name                                    object
ISO                                           object
Country                                       object
Subregion                                     object
Region                                        object
Location                                      object
Origin                                        object
Associated Types                              object
OFDA/BHA Response                             object
Appeal                                        object
Declaration                                   object
AID Contribution ('000 US$)                  float64
Magnitude                                    float64
Magnitude Scale                               object
Latitude                                     float64
Longitude                                    float64
River Basin                                   object
Start Year                                     int64
Start Month                                    int64
Start Day                                    float64
End Year                                       int64
End Month                                      int64
End Day                                      float64
Total Deaths                                 float64
No. Injured                                  float64
No. Affected                                 float64
No. Homeless                                 float64
Total Affected                               float64
Reconstruction Costs ('000 US$)              float64
Reconstruction Costs, Adjusted ('000 US$)    float64
Insured Damage ('000 US$)                    float64
Insured Damage, Adjusted ('000 US$)          float64
Total Damage ('000 US$)                      float64
Total Damage, Adjusted ('000 US$)            float64
CPI                                          float64
Admin Units                                   object
Entry Date                                    object
Last Update                                   object
dtype: object

### We observe that each of the 4 data frames have same number of columns and explicitely same columns

* I join the 4 data frames to form a full complete data frame
* Store the complete data in an object called finaldata
* I name the complete data frame as 'FourDisaster_SouthAsianData2000to2024.csv'

In [21]:
# Concatinate the four data frame objects and check the shape

final_data = pd.concat([storm_data, flood_data, earth_quake_data,drought_data], axis = 0)

# Check the Shape of the data frame objcet final_data
print('Number of Rows in final_data are:', final_data.shape[0])
print('Number of Columns in final_data are:', final_data.shape[1])

Number of Rows in final_data are: 781
Number of Columns in final_data are: 46

In [22]:
# Check the first few rows of the final_data data frame object

final_data.head()

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,2000-0009-IRN,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),NaN,NaN,IRN,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm1_code"":1545,""adm1_name"":""Gilan""}]",2003-07-01,2023-09-25
1,2000-0146-BGD,No,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":5812,""adm2_name"":""Natore""}]",2005-04-24,2023-09-25
2,2000-0211-BGD,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":5790,""adm2_name"":""Netrakona""},{""...",2005-04-24,2023-09-25
3,2000-0229-BGD,No,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":5790,""adm2_name"":""Netrakona""},{""...",2003-07-01,2023-09-25
4,2000-0283-BGD,No,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),NaN,NaN,BGD,...,NaN,NaN,NaN,NaN,NaN,NaN,56.514291,"[{""adm2_code"":5769,""adm2_name"":""Chandpur""},{""a...",2004-10-25,2023-09-25

In [23]:
# Exporting the final_data as 'FourDisaster_SouthAsianData2000to2020csv'

filepath = 'FourDisaster_SouthAsianData2000to2020.csv'
final_data.to_csv(filepath, index = False)